<div class="header">
  <h1 class="header-title">Odyn</h1>
  <h2 class="header-subtitle">Twój niezawodny wideorejestrator</h2>
  <nav class="navigation">
    <button
      class="btn"
      routerLink=""
      fragment="project-info"
      matTooltip="O projekcie"
    >
      <i class="fa fa-laptop"></i>
    </button>
    <button class="btn" routerLink="" fragment="team" matTooltip="Nasz zespół">
      <i class="fa fa-users"></i>
    </button>
    <button
      class="btn"
      routerLink=""
      fragment="meetings"
      matTooltip="Spotkania"
    >
      <i class="fa fa-handshake-o"></i>
    </button>
    <button
      class="btn"
      routerLink=""
      fragment="work-schedule"
      matTooltip="Harmonogram pracy"
    >
      <i class="fa fa-calendar"></i>
    </button>
    <button
      class="btn"
      (click)="alertMessage('Raporty semestralne')"
      matTooltip="Raporty semestralne"
    >
      <i class="fa fa-file-pdf-o"></i>
    </button>
    <button
      class="btn"
      (click)="alertMessage('Dokumentacja')"
      matTooltip="Dokumentacja"
    >
      <i class="fa fa-book"></i>
    </button>
  </nav>
</div>
